page-minhas-entregas {
    .texto{
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.8em;
    }
    .label-md,
    .label-ios{
      color: #2c3e50;
    }
    
}
