page-perfil-do-entregador {
    .texto{
        font-size: 3.0rem;
        color: #2c3e50;
        text-align: center;
        margin-bottom: 5%;
        font-weight: bold;
        margin-top: 25%;
    }
    .editNome{
        margin-top:20%;
    }
    .content .inputs ion-item,
    .content .inputs .item-inner{
        color: #2c3e50;
        border-radius: 25px;
        margin-bottom: 4%;
        height: 15px; 
    }
    .content .inputs .item, 
    .content .inputs .item-inner{
        background: transparent; 
        border-color: #2c3e50;
  }
    
    .label-md,
    .label-ios{
        color: #2c3e50;
    }
    .text-input::-moz-placeholder {
        font-size: 1.2em;
        color: #2c3e50;
        font-weight: bold;
    }
      
    .text-input:-ms-input-placeholder {
        color: #2c3e50;
        font-weight: bold;
        font-size: 1.2em;
    }
      
    .text-input::-webkit-input-placeholder {
        color: #2c3e50;
        font-weight: bold;
        font-size: 15px;
    }
    .btn button{
        background-color: #2c3e50;
        margin-top:5%;
        width: 44%;
        margin-left: 4%; 
    }
    .content .input input:focus{
       color: #2c3e50!important;
    }
}
