page-perfil-do-usuario {
    .texto{
        font-size: 1.8em;
        color: #2c3e50;
        text-align: center;
        margin-bottom: 30%;
        font-weight: bold; 
        margin-top: 5%;
    }
    .btn{
        margin-right: auto;
        margin-left: auto;
        font-weight: bold;
        font-size: 0.9em;
    }
    .content  ion-item,
    .content .item-inner{
        color: #2c3e50;
        border-radius: 25px;
        margin-bottom: 3%;
        height: 15px; 
    }
    .input-wrapper{
        margin-bottom: 10px;
        border: 1px solid transparent;  
    }
    .content .item, 
    .content .item-inner{
        background: transparent; 
        border-color: #2c3e50 !important;
  }
  .text-input::-moz-placeholder {
    font-size: 1.2em;
    color: #2c3e50;
    font-weight: bold;
}
  
.text-input:-ms-input-placeholder {
    color: #2c3e50;
    font-weight: bold;
    font-size: 1.2em;
}
  
.text-input::-webkit-input-placeholder {
    color: #2c3e50;
    font-weight: bold;
    font-size: 15px;
}
    
}
