page-data-entrega {

    .titulo{
        text-align: center;
        margin-bottom:30% !important;
        font-size: 2.4rem;
    }
    .titulo-md,
    .titulo-ios{
      color: #2c3e50;
    }

    .concluirbtn{
        margin-top: 60%;
    }
    .btn{
        width: 50%;
        margin-left: auto;
        margin-right: auto;

    }
}
