page-carrinho {

    #input{
        position: absolute;
        left: 338px;
    }

    #qntProduto{
        position: absolute;
        left: 256px;
    }

    .btn{
        position: relative;        
        margin-right: auto;
        margin-left: auto;  
        font-weight: bold;
        font-size: 0.9em;
        margin-top: 20% !important;
    }

    .valortotal{
        left: 150px;
        text-align: center;
    }

    .qntdP{       
       width: auto;
       
    }
    ion-label{
        text-align: center;
        margin-bottom:30% !important;
        font-size: 1.8em;
    }
    .label-md,
    .label-ios{
      color: #2c3e50;
    }

}
