page-cartao {
    .texto2{
            margin-right: auto;
            margin-left: auto;
            font-weight: bold;
            font-size: 0.9em;
        }
    .text{
        margin-right: auto;
        margin-left: auto;
    }      
}
