page-tipocadastro {
    .content {
        background: #FF5F6D;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #FF5F6D, #FFC371);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #FF5F6D, #FFC371); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        margin-top: auto;
        margin-bottom: auto;
    }
    .text {
        margin-top: 20%;
        margin-left: auto;
        margin-right: auto;
        font-weight: bold;
        font-size: 1.3em;
    }
    .label-md,
    .label-ios{
      color: #FFC371;
    }
    .content .img {
        height: 300px;
        width: 300px;
        margin-bottom: 5%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15%;
    }
    .btn{
        margin-left: 15%;
    }
    .content .btn_1{
        font-weight: bold;
        width: 40%;
        height: 20%;
    }
    .content .btn_2{
        font-weight: bold;
        margin-left: 2%;
        height: 20%;
        width: 40%;
    }
    div > div {
    display: inline-block;
}
    .content .btn button{
        background-color: #FFC371;
    }
    /* ------------------------------
    MEDIAQUERIES
    ---------------------------------*/
    @media (min-width: 414px) and (max-width:736px){ 
        .img{
            margin-top: 20% !important
        }
    }
}
